

@keyframes para-title{
    0%{
        opacity: 0;
        margin-left: -10rem;
    }

    100%{
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes page-title{
    0%{
        opacity: 0;
        margin-bottom: -10rem;
    }

    100%{
        opacity: 1;
        margin-bottom: 0;
    }
}

@keyframes para-text{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes hero-text{
    0%{
        opacity: 0;
        margin-left: -10rem;
    }

    85%{
        opacity: .9;
        margin-left: 1rem;
    }

    100%{
        opacity: 1;
        margin-left: 0;
    }
}