
.Gallery__header{
    margin: 0 auto;
    position: relative;
    width: 80vw;
    height: 30vh;
    background-image: linear-gradient(rgba($color-primary, 0.5),rgba($color-primary-2, .7)),
    url(../images/image-gallery.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 2rem;

    @media only screen and(max-width:850px) {
        margin-top: 10rem;
    }

}

.gallery__box{

    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;

    @supports(display: grid){
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-row-gap: 3rem;
        grid-column-gap: 4rem;
    }
    
}

.gallery__img{

    width: 25rem;
    height: auto;
    margin-right: 3rem;
    margin-bottom: 5rem;
    transition: .8s all ease-in-out;

    &:hover{
        transform: scale(1.05);
        cursor: pointer;
    }
    

    @supports(display: grid){
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        margin-right: 0;
    }
}






.gallery__title{
    margin-top: 4rem;
    font-size: 5rem;
    font-family: $font-secondary;
    font-weight: 700;
    color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and(max-width:850px){
        margin-top: 10rem;
    }

    @media only screen and(max-width:650px){
        font-size: 3rem;
    }

    @media only screen and(max-width:450px){
        font-size: 2.5rem;
    }
}





