
.Gallery__header{
    margin: 0 auto;
    position: relative;
    width: 80vw;
    height: 30vh;
    background-image: linear-gradient(rgba($color-primary, 0.5),rgba($color-primary-2, .7)),
    url(../images/image-gallery.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 2rem;

    @media only screen and(max-width:850px) {
        margin-top: 10rem;
    }

    @media only screen and(max-width:650px){
        width: 100vw;
    }
}

.gallery__box{
    margin-top: 10rem;

    @media only screen and (max-width:575px){
        text-align: center;
    }

}

.img-box{
    
    &:not(:last-child){
        margin-right: 5rem;
        margin-bottom: 5rem;

        @media only screen and (max-width:575px){
            margin-right: 0; 
        }
    }
}




.gallery__title{
    margin-top: 4rem;
    font-size: 5rem;
    font-family: $font-secondary;
    font-weight: 700;
    color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and(max-width:850px){
        margin-top: 10rem;
    }

    @media only screen and(max-width:650px){
        font-size: 3rem;
    }

    @media only screen and(max-width:450px){
        font-size: 2.5rem;
    }
}





