

.navbar{
    background-color: $color-primary;
    border-bottom: .5rem solid $color-golden-2;
    height: 7rem;
    display: flex;
    // justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;



    @media only screen and(max-width:850px){
        height: 100vh;
        display: none;
        transition: all .3s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 500;
    }

    &__list{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: auto;

        @media only screen and(max-width:1000px){
            padding: 2rem 4rem;
        }
        @media only screen and(max-width:900px){
            padding: 2rem;
        }

        @media only screen and(max-width:850px){
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
            padding-bottom: 8rem;
        }
    }

    &__item{
        margin-right: 4rem;
         
    }

    &__link{
        text-decoration: none;
        color: #f1f1f1;
        font-size: 2rem;
        font-weight: 700;

        @media only screen and(max-width:1400px){
            font-size: 1.6rem;
        }
        @media only screen and(max-width:1200px){
            font-size: 1.4rem;
        }
        @media only screen and(max-width:1100px){
            font-size: 1.2rem;
        }

    }

    &__link::after{
        content: "";
        display: block;
        background-color: #f1f1f1;
        width: 0;
        height: 3px;
        transition: width .3s ease-in-out;
    }

    &__link:hover::after{
        width: 100%;
        transition: width .3s ease-in-out;
    }
}

.display-nav{
    display: block;
}


.overflow__hide{
    overflow: hidden;
}

