
.biography,
.accomplishments,
.Philanthropy,
.Gallery,
.Contact,
.Gallery,
.Corporate_Affiliation{
    margin: 0 8rem;
    margin-bottom: 8rem;

    @media only screen and(max-width:1000px){
        margin: 0 4rem;
    }
    @media only screen and(max-width:650px){
        margin: 0 2rem;
    }
}


.page__title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-family: $font-secondary;
    font-weight: 700;
    color: #fff;
    animation: page-title .8s ease-in-out;

    @media only screen and(max-width:1200px){
        font-size: 3rem;
    }

    @media only screen and(max-width:850px){
        font-size: 2.8rem;
    }

    @media only screen and(max-width:650px){
        font-size: 2.5rem;
    }
    

    &-2{
        margin: 4rem 0;
        padding: 0 30rem;
        font-size: 3rem;
        font-family: inherit;
        font-weight: 500;
        color: $color-primary;
        text-align: center;

        @media only screen and(max-width:1000px){
            padding: 0 20rem;
        }

        @media only screen and(max-width:850px){
            padding: 0 15rem;
            margin: 2rem 0;
            font-size: 2.5rem;
        }
        @media only screen and(max-width:650px){
            padding: 0 10rem;
        }

        @media only screen and(max-width:450px){
            font-size: 2rem;
            padding: 0 6rem;
        }

    }

}

.page__title span{
    font-weight: 400;
    font-style: italic;
    color: $color-golden-2;
}

.para-title{
    font-size: 2rem;
    font-family: $font-primary;
    font-weight: 700;
    margin-top: 5rem;
    display: inline-block;
    background-color: $color-primary;
    color: #f1f1f1;
    padding: .5rem 1rem;
    transform: skewY(-1.5deg);
    animation: para-title .8s ease-in-out;


    // &:hover{
    //     display: inline-block;
    //     background-color: $color-primary;
    //     color: #f1f1f1;
    //     padding: .5rem 1rem;
    //     transform: skewY(-3deg);
    // }

    @media only screen and(max-width:650px){
        text-align: center;
    }
    @media only screen and(max-width:450px){
        font-size: 1.7rem;
    }
}

.section-title{
    font-size: 3rem;
    font-family: $font-primary;
    font-weight: 700;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 0 0rem;
    

    &-1{
        display: inline-block;
        margin-top: 8rem;
        position: relative;

        &::after{
            position: absolute;
            display: inline-block;
            content: "";
            background-color: $color-golden-2;
            width: 50%;
            height: .5rem;
            bottom: -1rem;
            left: 0;
        }
        
    }

    @media only screen and(max-width:650px){
        text-align: center;
    }
    @media only screen and(max-width:450px){
        font-size: 1.7rem;
    }


}

.para-text{
    margin: 1rem 4rem;
    font-size: 1.8rem;
    text-align: justify;
    line-height: 1.8;

    animation: para-text .5s ease-in;


    &::before{
        content: "";
        width: 1rem;
        height: 100%;
        background-color: $color-golden-2;
        display: block;
    }


    @media only screen and(max-width:650px){
        margin: 1rem 2rem;
    }

    &-1{
        font-size: 2rem;
        text-align: justify;
        line-height: inherit;
        padding: 0 12rem;

        @media only screen and(max-width:1000px){
            padding: 0 10rem;
        }

        @media only screen and(max-width:850px){
            padding: 0 6rem;
        }

        @media only screen and(max-width:650px){
            padding: 0 4rem;
        }
    }
}

.para-text > a{
    color: $color-golden-2;
    text-decoration: none;
}

ul{
    list-style: none;
}

li.para-text::before{
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;

    // Older browsers
    background-image: url(../images/right-arrow.svg);
    background-size: cover;

    // Newer browsers - masks
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        background-color: $color-golden-2;
        -webkit-mask-image: url(../images/right-arrow.png);;
        -webkit-mask-size: cover;
        mask-image: url(../images/right-arrow.png);
        mask-size: cover;
        background-image: none;
    }
}


.intro{
    background-color: $color-primary;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 3rem 0;
    border: 3px $color-golden-2 solid;
    margin: 0 10rem;
    margin-top: 3rem;

    @media only screen and(max-width:850px){
        margin: 0;
        margin-top: 3rem;
    }
}

.company-name{
    color: #c23616;
}

.dark-bold{
    color: #222;
    font-weight: 700;
    font-size: 2.2rem;
    margin-top: 2rem;;

    @media only screen and(max-width:650px){
        font-size: 1.8rem;
    }
}

.margin-0{
    margin: 1.5rem 0;
}








